.custom-divider {
    border: 4px solid rgb(6, 91, 131); /* Ubah ketebalan garis */
    margin: 10px 0; /* Jarak atas dan bawah */
    width: 100%; /* Pastikan lebar penuh */
}

.sidebar-nav .nav-link {
    font-size: 20px; /* Perbesar font */
    font-weight: bold; /* Tambahkan ketebalan */
}

.sidebar-nav .nav-heading {
    font-size: 20px; /* Perbesar teks pada heading */
    font-weight: bold;
}

.sidebar-nav {
    font-size: 28px; /* Perbesar font */
    font-weight: bold; /* Membuat lebih tebal */
}

.sidebar-nav .nav-item a {
    font-size: 20px; /* Sesuaikan ukuran submenu */
}

.sidebar-nav .bi {
    font-size: 20px; /* Perbesar ikon */
}
